* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    background: url({% static 'account/icons/Group\ 31.png' %}) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }


.header{
    width: 100%;
    height: 80px;
    display: block;
    background:white;
    box-shadow: 0px 0px 10px 0px #ADADAD;
    overflow: auto;
}

.login{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    height: 100%;
    display: table-cell;
    float: right;
    color: #008AF3;
    padding-top: 3%;
    padding-right: 4%;
}

.login a{
    display: table;
    float: right;
    vertical-align: middle;
}

.inner_header{
    width: 1060px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.innerhead{
    width:750px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo {
    height: 100%;
    display: table-cell;
    float: left;
    vertical-align: middle;
}

.logo img{
    position: absolute;
    margin-top: -25px;
    margin-left: -40px;
}
.nav{
    float: right;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 25px 0px;
    text-align: center;
}

.nav a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #353535;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.nav a:last-child{
    padding-right: 80px;
}

.upper input[type="submit"]
{
font-size: 16px;
position: relative;
left: 42%;
top: 240px;
width: 180px;
height: 40px;
border-radius: 50px;
border-style: hidden;
}

.lower input[type="number"]
{
    -moz-appearance: textfield;
font-size: 16px;
position: relative;
left: 42%;
top: 0px;
padding-left: 55px;
width: 180px;
height: 40px;
text-decoration: black;
border-radius: 50px;
border-style: hidden;
}

.upper{
    height: 300px;
    justify-content: center;
}
.lower{
    height: 300px;
}

.upper img{
    position: absolute;
left: 44%;
top: 253px;
z-index: 1;
height: 15px;
width: 15px;
}

.lower img{
    position: absolute;
left: 44%;
top: 314px;
z-index: 1;
height: 15px;
width: 15px;
}

::-webkit-input-placeholder{
    color: black;
}

:-ms-input-placeholder{
    color: black;
}

::-moz-placeholder{
    color: black;
    opacity: 1;
}

.mainpage{
    background-image: url({% static 'account/icons/Group\ 31.png' %});
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
