* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    background: url(temp.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
  }


.header{
    width: 100%;
    height: 80px;
    display: block;
    background:white;
    box-shadow: 0px 0px 10px 0px #ADADAD;
    overflow: auto;
}

.login{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    height: 100%;
    display: table-cell;
    float: right;
    color: #008AF3;
    padding-top: 3%;
    padding-right: 4%;
}

.login a{
    display: table;
    float: right;
    vertical-align: middle;
}

.inner_header{
    width: 1060px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.innerhead{
    width:750px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo {
    height: 100%;
    display: table-cell;
    float: left;
    vertical-align: middle;
}

.logo img{
    position: absolute;
    margin-top: -25px;
    margin-left: -40px;
}
.nav{
    float: right;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
}

.nav a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 25px 0px;
    text-align: center;
}

.nav a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #353535;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.nav a:last-child{
    padding-right: 80px;
}

.loginbox{
    border-radius: 10px;
    width: 400px;
    height: 500px;
    background-color: white;
    margin: 50px auto;
}

.loginheader{
    border-radius: 10px 10px 0px 0px;
    color: white;
    width: 100%;
    height: 35px;
    background-color: black;
    text-align: center;
    text-emphasis-color: white;
}

.mainlogin{
    padding: 35px;
    margin: 0px;
}

#adm{
    padding: 5px;
}

.mainlogin input[type="submit"]
{
    border-radius: 5px;
    color: white;
    background-color: #0006ffba;
    width: 70px;
    height: 25px;
    position: relative;
    left: 40%;
    top: 15px;
    font-size: 10px;
}

.form-container{
    background: url(temp.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
