<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'account/style3.css' %}" type="text/css"/>
        <style>
        body{
          font-family: Arial;
          font-size: 15px;
        }
        .mainlogin button{
          padding:6px;
          border: none;
          margin-left: 25%;
          margin-top: 10px;
          border-radius: 3px;
          background-color:
        }
        </style>
        <title>Change Password</title>
    </head>
    <body>

     <div class="header">
      <div class="inner_header">
        <div class="logo">
        </div>
        {% if not user.is_authenticated %}
        <div class="login">
            <a href="{% url 'login' %}"><li>Login</li></a>
        </div>
        {% else %}
        <div class="login">
            <a href="{% url 'logout' %}"><li>Logout</li></a>
        </div>
        {% endif %}
        <div class="innerhead">
          <ul class="nav">
            <a href="{% url 'account_app:home' %}"><li>Home</li></a>
            <a href="{% url 'account_app:about' %}"><li>About us</li></a>
            <a href="{% url 'account_app:support' %}"><li>Support</li></a>
          </ul>
        </div>
        </div>
     </div>
{% load crispy_forms_tags %}

<div class="form-container">
         <div class="row">
             <div class="col-12">
                <div class="loginbox">
                    <div class="loginheader">
                      {% if validlink %}
                       <p id="adm">CHANGE PASSWORD</p>
                    </div>
                    <div class="mainlogin">
                      <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit">Change password</button>
                      </form>
                      {% else %}
                        <p>
                          The password reset link was invalid, possibly because it has already been used.
                          Please request a new password reset.
                        </p>
                      {% endif %}
                    </div>
                 </div>
             </div>
         </div>
     </div>
  </body>
</html>
