{% extends 'base.html' %}
{% block content %}
  <p style="display:block; width:70%; text-align:center;font-family: Arial;padding:25px;border-radius:10px; background-color: #ccc;margin:200px 0 0 220px;">
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p style="display:block; width:70%; text-align:center;font-family: Arial;padding:25px;border-radius:10px; background-color: #ccc;margin:50px 0 0 220px;">
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
{% endblock %}
