<!DOCTYPE html>
<html lang="en">
{% load static %}
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'account/receptionist_login.css' %}" type="text/css"/>
        <style>
        .receptionist-login-box p{
          margin-left: 170px;
          padding: 50px;
          font-size: 18px;
          font-family: Arial;
        }
        </style>
        <title>Password Changed.</title>
    </head>
    <body>

     <div class="header">
      <div class="inner_header">
        <div class="logo">
        </div>
        {% if not user.is_authenticated %}
        <div class="login">
            <a href="{% url 'login' %}"><li>Login</li></a>
        </div>
        {% else %}
        <div class="login">
            <a href="{% url 'logout' %}"><li>Logout</li></a>
        </div>
        {% endif %}
        <div class="innerhead">
          <ul class="nav">
            <a href="{% url 'account_app:home' %}"><li>Home</li></a>
            <a href="{% url 'account_app:about' %}"><li>About us</li></a>
            <a href="{% url 'account_app:support' %}"><li>Support</li></a>
          </ul>
        </div>
        </div>
     </div>


<div class="wrapper">
   <div class="receptionist-login-box">

        <style media="screen">
         font-family: 'Open Sans', sans-serif;
         font-weight: 400;
       </style>
       <p>
         Your password has been set. You may go ahead and signin.
       </p>
   </div>
 </div>
  </body>
</html>
